:root {
    --cor0: #2d4354;
    --cor1: #51718B;
    --cor2: #12202B;
    --cor3: #2F6C82;
    --cor4: #43C6A3;
    --cor5: #20212b;
    --cor6: #2FAD8D;
}

.toolbar {
    height: 80px;
}

.tab-link {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.toolbar-inner .link {
    flex: 1;
    height: 80px;
    line-height: 25px;
    font-weight: bold;
}

.toolbar-inner .link:not(.active) {
    color: gray;
    font-weight: normal;
}

.toolbar-inner>.link i {
    font-size: 28px;
}



.logo {
    width: 200px;
}

.tab-bar {
    background-color: var(--cor3);
}

.tab-bar a {
    text-decoration: none;
}

.tab-bar a:hover {
    background-color: #20212b27;
}

/*Perfil*/
.fundo {
    width: 100%;
    height: 120px;
    background-color: var(--cor0);
}

.page-content {
    background: linear-gradient(var(--cor0), var(--cor2));
}

.conteudo-perfil {
    color: white;
    height: 100%;
    background-color: var(--cor5);
}
.imgAgent{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.card{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.089);
    border: none;
    color: white;

    display: flex;
    align-items: center;
}
.card .nameAgent{
    color: var(--cor4);
}
.card .speciality, .card .nameAgent{
    text-align: center;
}
.card .agentEmail{
    font-size: 9px;
}
/*home*/
iframe{
    border-radius: 5px;
}
#obs{
    font-size: 8px;
    background-color: black;
}
.text p{
    text-align: justify;
}
.homeInfo span{
    color: var(--cor4);
}

/*info*/
.infoPayment {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--cor3);
    color: white;
}

.infoPayment p {
    font-weight: bold;
}

.infoPayment span {
    font-weight: normal;
}

.infoPayment h2 {
    color: var(--cor2);
}
#totalCost{
    color: var(--cor4);
}
/*Pagamento*/
#qrcode img{
    width: 200px;
}


/*vagas*/

.bike-spots .parking-spot{
    transform: rotate(45deg);
}
.eletric_car-spots .parking-spot{
    transform: rotate(270deg);
    margin: -20;
}
.parking-spot {
    width: 80px;
    height: 40px;
    background-color: var(--cor0);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}
.parking-spot img{
    width: 60px;
}
.reverse-spots .parking-spot{
    transform: rotate(180deg);
}
.parking-spot:hover {
    background-color: var(--cor6);
}
.parking-spot.selected {
    background-color: var(--cor6);
    color: white;
}

.sumary{
    color: white; 
    flex-wrap: wrap;   
}
.sumary .spot-type{
    margin: 2px 2px 40px 2px;
    
}
.sumary .spot-type div{
    height: 25px;
    width: 25px;
    margin: 5px;
}
.sumary .spot-type .free{
    background-color: white;
}
.sumary .spot-type .occuped{
    background-color: red;
}
.sumary .spot-type .special{
    background-color: yellow;
}
.sumary .spot-type .eletric{
    background-color: lightblue;
}
.sumary .spot-type .selected{
    background-color: var(--cor6);
}
.md .button{
    background-color: var(--cor4);
    color: black;
}
.md .button#buttonLogin{
    background-color: var(--cor1);
    color: white;
}



